<!DOCTYPE html>
<html lang="ru">
<head>
</head>
<body>
<h1>
    {% if notify_res == 1 %}
        Success!
    {% elif notify_res == -1 %}
        Wrong password
    {% else %}
        Send a notification to all users:
    {% endif %}
</h1>
<form method="post">
    <label>Password:
        <input type="password" name="password"/>
    </label><br>
    <label>Title:
        <input type="text" name="title"/>
    </label><br>
    <label>Body:
        <input type="text" name="body"/>
    </label><br>
    <input type="submit" value="Send"/>
    {% csrf_token %}
</form>
<br>
<h1>
    {% if cron_res == 1 %}
        Success!
    {% elif cron_res == -1 %}
        Wrong cron
    {% else %}
        Change cron:
    {% endif %}
</h1>
<form method="post">
    <label>Password:
        <input type="password" name="password"/>
    </label><br>
    <label>New minutes cron:
        <input type="text" name="cron"/>
    </label><br>
    <input type="submit" value="Send"/>
    {% csrf_token %}
</form>
</body>
</html>
